[build]
  publish = "dist"
  command = "npm run build"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  VITE_API_URL = "https://experts15-backend.onrender.com"
  VITE_RAZORPAY_KEY_ID = "rzp_test_RfzCjbS5iBMfVc"